# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Build Artifacts
build/
dist/
*.egg-info/
*.egg
*.whl
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# PyInstaller
*.manifest
*.spec

# Unit Test / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm / IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/
*.code-workspace

# Spyder
.spyderproject
.spyproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Profiling
.prof
